
/* table style */


   .abc {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.abc td, .abc th {
  border: 1px solid #ddd;
  padding: 8px;
}

.abc tr:nth-child(even){background-color: #f2f2f2;}

.abc tr:hover {background-color: #ddd;}

.abc th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #7cacf9;
  color: white;
} 


